@page "/edit-property/{Id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using PropertyBlazorWASM.Models
@using PropertyBlazorWASM.Services
@inject PropertyService propertyService
@inject NavigationManager nav

<h3>Edit Property</h3>

<EditForm Model="property" OnValidSubmit="Update">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Property Name</label>
        <InputText class="form-control" @bind-Value="property.PropertyName" />
    </div>

    <div class="mb-3">
        <label>Address</label>
        <InputText class="form-control" @bind-Value="property.Address" />
    </div>

    <div class="mb-3">
        <label>Unit Number</label>
        <InputText class="form-control" @bind-Value="property.UnitNumber" />
    </div>

    <div class="mb-3">
        <label>Monthly Rent</label>
        <InputNumber class="form-control" @bind-Value="property.MonthlyRent" />
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" class="btn btn-secondary ms-1" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }

    Property property = new Property();

    protected override async Task OnInitializedAsync()
    {
        property = await propertyService.GetProperty(Id);
    }

    async Task Update()
    {
        await propertyService.UpdateProperty(property);
        nav.NavigateTo("/properties");
    }

    void Cancel() => nav.NavigateTo("/properties");
}